body {
  padding-bottom: 120px;
}

/* Default buttons styles */
/* -------------------------------------------------------------------------  */
.btn, .btn-large {
  color: $black;
  background: $lime-green;
}

.btn:hover, .btn-large:hover {
  background: $dark-green;
}

/* Footer styles */
/* -------------------------------------------------------------------------  */
.footer {
  position: fixed;
  bottom: 0;
  width:100%;

  background: #B22746;
  height: 50px;
  line-height: 50px;
  z-index: 100;
  color: #fff;

  .order-price {
    font-size: 20px;
  }
}
