/* Fonts */
$primary-font: 'MyriadProRegular', Arial, sans-serif;
$secondary-font: 'PFDinTextCompPro', Arial, sans-serif;

/* COLORS */
$sharp-blue:  #39C2D7;
$lime-green: #A3C644;
$graphite: #464547;

$raspberry: #B22746;
$plum: #8E244D;
$dark-blue: #1A9CB0;
$dark-green: #7F993A;

$white: #ffffff;
$black: #000000;
$medium-gray: #666666;
$gray: #999999;
$light-gray: #CCCCCC;
