/* Default buttons styles */
/* -------------------------------------------------------------------------  */
.welcome {
  .btn, .btn-large {
    color: $white;
    background: $raspberry;
  }

  .btn:hover, .btn-large:hover {
    background: $plum;
  }
}

/* Welcome styles */
/* -------------------------------------------------------------------------  */
.welcome {
  background: $dark-blue;
  padding-top: 5em;


  .header {

    &__logo {
      text-align: center;

      i {
        display: block;
        font-size: 120px;
        color: $white;
      }
    }
  }

  .welcomeForm {
    .submit {
      display: block;
      width: 100%;
    }
  }

}
